<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Pre Order Platform</title>
</head>
<body style='font-family: Arial, sans-serif;'>
    <div style='max-width: 600px; margin: auto;'>
        <h2 style='color: #444444;'>Welcome to Pre Order !</h2>
        <p>Hello {username},</p>
        <p>Thank you for registering on our website. Please click the link below to activate your account. Link will expired after 24h: </p>
        <p style='text-align: center;'>
            <a href='{activationLink}' 
            style='background-color: #008CBA;
                    color: white;
                    padding: 14px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;'>Activate Account</a>
        </p>
        <p>If you didn't request this, you can safely ignore this email.</p>
        <p>Best regards,</p>
        <p>Pre Order Platform</p>
    </div>
    
    <div style="text-align: center;">
        <a href="http://preordersystem.co" style="text-decoration: none; color: #0000EE;">Pre-Order Platform</a>
        <div style="text-align: center;">
            <em style="font-style: italic;">Ensuring you never miss out.</em>
        </div>
        <div style="text-align: center;">
            <br />hungllt@preordersystem.co <br />+84387788906
        </div>
        <div style="text-align: center;">
            [<a href="https://www.facebook.com/YouCantSeeMe.User2013/" style="text-decoration: none; color: #0000EE;">Facebook</a>]
        </div>
        <div>
            <img id="c012706e-f9e0-4d7e-bdc5-52ded029d31c" style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" src="https://privateemail.com/ajax/image/snippet/image?id=1&amp;uid=c012706e-f9e0-4d7e-bdc5-52ded029d31c" alt="" />
        </div>
    </div>
</body>
</html>