<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Pre Order Platform</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: auto;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2 class="center">Welcome to Pre Order!</h2>
    <p class="center">Hello {username},</p>
    <p class="center">Thank you for registering. Your account is now active!</p>
    <p class="center">Best regards,</p>
    <p class="center">Pre Order Platform</p>

    <div class="center">
        <a href="http://preordersystem.co" style="text-decoration: none; color: #0000EE;">Go to Pre-Order Platform</a>
        <div>
            <em style="font-style: italic;">Ensuring you never miss out.</em>
        </div>
        <div>
            <br />hungllt@preordersystem.co <br />+84387788906
        </div>
        <div>
            [<a href="https://www.facebook.com/YouCantSeeMe.User2013/" style="text-decoration: none; color: #0000EE;">Facebook</a>]
        </div>
        <div>
            <img id="c012706e-f9e0-4d7e-bdc5-52ded029d31c" style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" src="https://privateemail.com/ajax/image/snippet/image?id=1&amp;uid=c012706e-f9e0-4d7e-bdc5-52ded029d31c" alt="" />
        </div>
    </div>
</body>
</html>