<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body style='font-family: Arial, sans-serif;'>
    <div style='max-width: 600px; margin: auto;'>
        <h2 style='color: #444444;'>Password Reset Request</h2>
        <p>Hello {username},</p>
        <p>We received a request to reset your password. Please click the link below to set a new password. The link will expire after 24h:</p>
        <p style='text-align: center;'>
            <a href='{resetPasswordLink}'
               style='background-color: #008CBA;
                    color: white;
                    padding: 14px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;'>Reset Password</a>
        </p>
        <p>If you didn't request this, you can safely ignore this email.</p>
        <p>Best regards,</p>
        <p>Pre Order Platform</p>
    </div>
</body>
</html>