<!DOCTYPE html>
<html>
<head>
    <title>Your New Password</title>
</head>
<body style='font-family: Arial, sans-serif;'>
    <div style='max-width: 600px; margin: auto;'>
        <h2 style='color: #444444;'>Your New Password</h2>
        <p>Hello {username},</p>
        <p>Your password has been reset. Here is your new password:</p>
        <p style='color: #008CBA;'>{newPassword}</p>
        <p>Please ensure that you change this password the next time you log in to your account.</p>
        <p>Best regards,</p>
        <p>Pre Order Platform</p>
    </div>
</body>
</html>